@charset "utf-8";

/*
#0cbe9a

#8ef3d1

linear-gradient(to right bottom,#e2ffea,#cfe4f7);

*/
* {box-sizing: border-box;}
.flex {display: flex;}

.demo-wrap { padding-bottom: 120px;}
.demo-wrap h1 {padding: 0px 50px; text-align: left; width: 100%; font-size: 0; height: 80px; display: flex; align-items: center;}
.demo-wrap h1 img {width: 268px;}

.demo {position: relative; background: #fff; width: 100%; border: 1px solid #ccc; width: calc(100% - 100px); margin: 0 auto; border-radius: 15px; }
.demo-header { position: sticky; top:0; left:0; padding: 30px 50px 0;  background: #fff; z-index: 99; border-radius: 15px;}
.demo-header .inner {display: flex; align-items: center; justify-content: space-between; padding: 10px 0 16px;}
.demo-header h2 {font-size: 20px; font-weight: 800; word-break: keep-all;}
.demo-header .item-actions {width: auto;}

/* .demo-container {max-height: calc(100vh - 80px - 80px - 92px - 36px); overflow-y: auto;} */

.demo-tracklist-header {position: sticky; top: 0; z-index: 9;}
.demo-tracklist-header .list-item {padding: 0px 50px 10px;}
.demo-tracklist-header .list-item .header-border {
  align-items: center; justify-content: space-between;  flex-wrap: wrap; border-radius: 5px; padding:  11px; font-size: 10px; background: #f2fff9; font-weight: 800;
  box-shadow: 0px 0px 4px rgb(0 61 47 / 10%);
  --item-action: 55px;
  
}
.demo-tracklist-header .item-duration {font-size: inherit;}

.demo-tracklist-inner {border: 1px solid #ccc;}
.demo-tracklist {padding-bottom: 20px;}
.list-item {
  padding-top: 20px; padding: 16px 60px;
  --item-no : 30px;
  --item-img : 50px;
  --item-duration: 50%;
  --item-genre: 100px;
  --item-action: 50px;
  --item-cd : 80px;
}
.list-item.flex {align-items: center; justify-content: space-between;  flex-wrap: wrap;}
.list-item.active {background-color: #e8fdf9;}

.js-play {cursor: pointer;}

.demo-tracklist .item-img:after {
  content:''; display: block; 
  width: 100%; height: 100%;     
  position: absolute; top:0; left:0;
  --play-img : url("data:image/svg+xml,%3Csvg fill='%23fff' width='24' height='24' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.008 12.897a.644.644 0 0 1-.91-.227.7.7 0 0 1-.098-.364V3.693C4 3.31 4.296 3 4.662 3a.64.64 0 0 1 .346.103l6.677 4.306a.713.713 0 0 1 0 1.182z'/%3E%3C/svg%3E");
  --pause-img : url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 100 100' xml:space='preserve'%3E%3Cpath d='M40.531 19.959c-.097 0-.19.016-.283.029v-.029H29.911a2.163 2.163 0 0 0-2.163 2.163v.005h-.001V77.87h.001l-.001.009c0 1.194.969 2.162 2.163 2.162h10.62a2.16 2.16 0 0 0 2.162-2.162l-.001-.009h.001V22.127l.001-.005a2.163 2.163 0 0 0-2.162-2.163m31.72 57.911V22.127l.001-.005a2.163 2.163 0 0 0-2.162-2.163c-.097 0-.19.016-.283.029v-.029H59.47a2.163 2.163 0 0 0-2.163 2.163v.005h-.001V77.87h.001l-.001.009c0 1.194.969 2.162 2.163 2.162h10.618a2.16 2.16 0 0 0 2.162-2.162q.002-.004.002-.009'/%3E%3C/svg%3E");
}
  
.demo-tracklist .list-item .item-info-wrap:hover .item-img:after { background: rgba(0,0,0,.5) var(--play-img) center center no-repeat;}
  
.demo-tracklist .list-item.active .item-info-wrap .item-img:after {
  background: url(../img/music.png) no-repeat; background-size:100%; animation: rotateImg 3s linear 0s infinite forwards;
}
.demo-tracklist .list-item.active .item-info-wrap:hover .item-img:after { 
  content:''; background: rgba(0,0,0,.5) var(--pause-img) center center no-repeat; background-size: auto; animation: none;  
}
  
.demo-tracklist .list-item.active.pause .item-info-wrap .item-img:after {animation: none;} 
.demo-tracklist .list-item.active.pause .item-info-wrap:hover .item-img:after { 
  content:''; background: rgba(0,0,0,.5) var(--play-img) center center no-repeat; background-size: auto; animation: none;  
}
  


/* .item-actions-list {display: none;} */
.item-actions {position: relative;}
.item-actions-list {display: none; position: absolute;  width: 90px; background: #fff; border-radius: 5px; padding: 0 0 6px 0; box-shadow: 1px 1px 3px rgba(0,0,0,.15);  z-index: 99; min-width: 100%; top: 40px;}
.item-actions-list a {font-size: 13px; padding: 6px 16px; display: inline-block; width: 100%;}
.item-actions-list a span {display: inline-block; padding-left: 8px;}
.item-actions-list a:hover {background-color: #f9f9f9;}

.item-actions.open .item-actions-list{display: block;}

.list-item .item-actions-list {top: 30px; left: -40px;}
.list-item .item-actions .item-actions-btn {border: 2px solid #6b6d87; border-radius: 8px; width: 24px; height: 24px;}
.list-item .item-actions.open .item-actions-btn,
.list-item .item-actions .item-actions-btn:hover {background: #28dfba;}


.player-controller .item-actions-list {bottom: 30px; left: -60px;}

/*detailes*/
.item-details.flex {align-items: center; width: calc(100% - var(--item-action)); flex-wrap: wrap;}

.item-no {width: var(--item-no); font-weight: 600; position: relative; }

.item-info-wrap {width: calc(var(--item-duration) - var(--item-genre) - var(--item-no) - var(--item-cd)); align-items: center; flex-wrap: wrap;}

.item-img {width: var(--item-img); position: relative;/* height: var(--item-img);*/ border-radius: 5px; overflow: hidden;}
.item-img img {width: 100%; height: 100%;}

.item-info { width: calc(100% - var(--item-img)); padding:0 20px;}
.demo-cd {font-size: 10px; display: inline-flex; align-items: center; justify-content: center;  border-radius: 5px; padding: 4px 4px; background-color: #f1f1f1; font-weight: 700;}
.item-info .demo-title { font-weight: 700; display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-size: 14px;}
.item-info .demo-artist {font-size: 13px;}

.wave-form {width: 100%; max-width: 500px; margin-right: 10px;}
.item-duration {width:var(--item-duration); text-align: center; font-size: 14px; display: flex; align-items: center; justify-content: center;}
.item-duration .wave-form {width: 100%; max-width: 500px; margin-right: 10px;}
.item-duration span {font-size: 11px; font-weight: 600 }
.item-genre {width: var(--item-genre); text-align: center; }

.item-cd {width: var(--item-cd); text-align: center;}
.item-actions { width: var(--item-action); text-align: center;}

.item-actions-list {text-align: center; text-align: center;}

/*하단 플레이*/
.player-wrap {position: fixed; bottom:0; left:0; width: 100%; background: #000; display: none; z-index: 9;}
.player-wrap.active {display: block;}

.playing_progress {position: absolute; width: 100%; top: -11px; left: 0; z-index: 9;
--range-height : 12px;
}

.playing_progress.active input[type="range"],
.bar-progress:hover input[type="range"] {height: var(--range-height);}
.playing_progress.active input[type="range"]::-webkit-slider-runnable-track ,
.bar-progress:hover input[type="range"]::-webkit-slider-runnable-track {height: var(--range-height);}
.playing_progress.active input[type="range"]::-moz-range-track,
.bar-progress:hover input[type="range"]::-moz-range-track {height: var(--range-height);}
.bar-progress:hover input[type="range"]::-webkit-slider-thumb,
.bar-progress input[type="range"]:active::-webkit-slider-thumb {height: var(--range-height);}
.bar-progress:hover input[type="range"]::-moz-range-thumb,
.bar-progress input[type="range"]:active::-moz-range-thumb {height: var(--range-height);}



.player-controller {align-items: center; justify-content: space-between; padding: 10px 20px; width: 100%; position: relative; height: 80px;}
.player-controller > div {width: 20%;}

.control-left.flex {align-items: center;}
.control-left .control-img {width: 50px; height: 50px; border-radius: 5px; overflow: hidden;}
.control-left .control-img img {width: 100%;}
.control-left .control-info {padding-left: 10px; color: #fff;}
.control-left .control-info span {display: block;}
.control-left .control-info .demo-title {font-weight: 600; }
.control-left .control-info .demo-artist {font-size: .9em;}


.control-center.flex {justify-content: center;width: 60%; align-items: center;}
.play-btn-list {font-size: 0;}
.play-btn-list button {vertical-align: middle; display: inline-block; width: 60px; height: 60px; border-radius: 50%; text-align: center; color: #c2c2c2;}
.play-btn-list button:hover {color: #fff;}
.play-btn-list button:active {color: #fff;}
.play-btn-list button i:before {font-size: 28px;}
.play-btn-list button.play i:before {font-size: 40px; }
.play-btn-list button.play i.bi-play-fill:before {padding-left: 5px}
.play-btn-list button.play {color: #0cbe9a;}
.play-btn-list button.play:hover {background-color: rgba(255,255,255,.2)}

.control-right.flex {justify-content: flex-end; }
.playtime {display: flex; align-items: center;  }
.playtime span {font-size: 13px; font-weight: 600; color: #747474;}
.playtime span.now:after {content:'/'; display: inline-block; margin: 0 2px; font-weight: 700; color: #747474;}
.playtime span.remain {color: #bcbcbc;}

.volumn-area {display: flex; align-items: center; margin: 0 16px;}
.volumn-btn {font-size: 0; color: #bcbcbc;}
.volumn-btn i:before {font-size: 24px;}
.volumn-area .bar-volumn {width: 100px; height: 3px; position: relative;}
.volumn-area .bar-volumn input[type="range"] {position: absolute; top:0; left:0; height: 3px;}
.volumn-area .bar-volumn input[type="range"]::-webkit-slider-runnable-track {height: 8px;}
.volumn-area .bar-volumn input[type="range"]::-moz-range-track {height: 3px;}
.volumn-area .bar-volumn input[type="range"]::-webkit-slider-thumb {height: 3px;}
.volumn-area .bar-volumn input[type="range"]::-moz-range-thumb {height: 3px;}
.volumn-area:hover .volumn-btn {color: #fff;}

.player-controller .item-actions {width: 30px;}

.player-controller .item-actions-btn{border: 2px solid #bcbcbc; border-radius: 8px; width: 24px; height: 24px;}

.player-controller .item-actions.open .item-actions-btn path,
.player-controller .item-actions .item-actions-btn:hover path{fill: #fff;}

.player-controller .item-actions-list {top: auto;}

@keyframes playing {
  0% {background-position-x:0}
  100% {background-position-x:-3000px;}
  
}
@keyframes rotateImg
{
    0%{ transform: rotateZ(0); }
    100%{ transform: rotateZ(360deg); }
}
@media (max-width: 1440px){
  .list-item {
    --item-duration: 60%;
  }

  .item-duration {width: 40%;}
  .player-controller .wave-form {max-width: 300px;}
}
@media (max-width: 1280px){
  .demo-wrap h1 {padding: 0 20px;}
  .demo {width: calc(100% - 30px);}
  .demo-header {padding: 16px 25px;}
  .demo-header h2 {font-size: 18px;}
  .demo-tracklist-header .list-item {padding: 0px 15px 10px}
  .list-item.flex {padding: 16px 25px;}

	.item-genre {display: none;} 
  .item-cd {display: none;}
  .item-info-wrap {width:calc(50% - 50px);}
  .item-duration {width: calc(50%)}

  .playtime {display: none;}
  .volumn-area {display: none;}

}
@media (max-width: 920px){
  /* .demo-header .inner {flex-flow: column; align-items: flex-start;} */
  .player-controller .wave-form {display: none;}
  .player-controller > div {width: auto;}
  .control-center.flex {position: absolute; top: 50%; right: 50px; transform: translateY(-50%); width: auto;}

}
@media (max-width: 789px){
  
  .item-duration {display: none;}
  .item-info-wrap {width: calc(100% - 30px);}

}

@media (max-width: 600px){
  body, input, textarea, select, table, button {font-size: 14px;}
  .btn-xsm, a.btn-xsm {font-size: 12px;}

  .list-item {
    --item-img: 40px;
  }

  .item-info-wrap {width:calc(100% - 40px);}
  .item-duration {display: none; }
  .player-controller > div {width: auto;}
  
  .play-btn-list button {width: 40px; height: 40px;}
  .play-btn-list button:hover {color: #c2c2c2;}
  .play-btn-list button i:before {font-size: 22px;}
  .play-btn-list button.play i:before {font-size: 36px;}
}

@media (max-width: 485px){
  .demo-header h2 {font-size: 16px;}
  .demo-tracklist-header .list-item {padding: 0 5px 10px;}
  .item-duration {display: none;}
  .item-info-wrap {width: calc(100% - 50px);}

  .demo-header {padding: 12px 16px;}
  .list-item.flex {padding: 12px 16px;}

  .item-info .demo-title {font-size: 12px;}
  .item-info .demo-artist {font-size: 11px;}

  .play-btn-list button {width: 34px; height: 34px;}
  .play-btn-list button i:before {font-size: 18px;}
  .play-btn-list button.play i:before {font-size: 28px;}

  .control-right.flex {display: none;}
  .control-center.flex {right: 0;}


}





